@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
This is the Privacy Policy (“Policy”) of Bookworm Club (“BWC”).
 This Policy only applies to our website and information that we collect from you. 
 Our websites may contain links to other websites which are not owned or maintained by us. 
 When visiting these third party websites or disclosing your personal data to third parties 
 (including buyers or sellers on our website), you should read their privacy policies, or ask 
 relevant questions before you disclose your personal data, We are not responsible for the collection, 
 use or disclosure of your personal data by such third parties.

</p>
